@value twitterBlack, twitterWhite, twitterDarkerWhite, twitterGrey, twitterBlue from "../../common/colors.css";

.formTitle {
  margin-bottom: 1.4em;
}

.loginForm .input:first-child {
  margin-bottom: 1rem;
}

.loginForm .input:nth-child(2) {
  margin-bottom: 8rem;
}

.loginBtn {
  width: 100%;
  padding: 1em 0;
  font-size: 1.1rem;
  font-weight: 700;
}

.loginBtn:hover {
  background-color: twitterDarkerWhite;
}
