@value twitterBlue, twitterWhite, twitterBlack, twitterGrey, twitterRed from "../../common/colors.css";

button {
  display: block;
  border-radius: 2em;
  padding: 0.8em;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.btn:disabled {
  cursor: not-allowed;
  background-color: twitterGrey;
  transition: none;
}

.btn:disabled:hover {
  background-color: twitterGrey;
}

.logo-with-margin {
  margin-right: 0.5em;
}

.logo-with-no-margin {
  margin-right: 0;
}

.btn-bg-blue {
  background-color: twitterBlue;
}

.btn-bg-white {
  background-color: twitterWhite;
}

.btn-bg-black {
  background-color: twitterBlack;
}

.btn-font-black {
  color: twitterBlack;
}

.btn-font-white {
  color: twitterWhite;
}

.btn-font-blue {
  color: twitterBlue;
}
.btn-font-red {
  color: twitterRed;
}
