@value twitterDarkerBlue, twitterDarkerWhite, twitterGrey, twiiterDeepDarkerBlue from "../../common/colors.css";
@value mediaQuery from "../../common/size.css";

.container {
  display: flex;
  height: 100%;
}

.img {
  flex-basis: 50%;
  position: relative;
  order: 0;
  background-image: url("/public/loginimg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  min-height: 48rem;
}

.imgTwitterIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 23vw;
  height: 20rem;
}

.loginContainer {
  flex-basis: 50%;
  padding: 1.8rem;
  order: 1;
}

.loginTwitterIcon {
  margin-bottom: 1.5em;
}

.title {
  font-size: 4.8rem;
  margin-bottom: 1em;
}

.title + strong {
  font-size: 2rem;
  display: block;
  margin-bottom: 1em;
}

.btnContainer .or {
  display: flex;
  width: 18rem;
  text-align: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.btnContainer .or::before {
  content: "";
  display: block;
  height: 0.1rem;
  width: 10%;
  background-color: twitterGrey;
  margin-right: 0.4rem;
  flex-grow: 1;
}
.btnContainer .or::after {
  content: "";
  display: block;
  height: 0.1rem;
  width: 10%;
  background-color: twitterGrey;
  margin-left: 0.4rem;
  flex-grow: 1;
}

.googleLoginBtn,
.githubLoginBtn,
.twitterJoinBtn,
.twitterLoginBtn {
  width: 18rem;
}

.googleLoginBtn {
  margin-bottom: 0.5rem;
}

.googleLoginBtn:hover {
  background-color: twitterDarkerWhite;
}

.githubLoginBtn {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.githubLoginBtn:hover {
  background-color: twitterDarkerWhite;
}

.twitterJoinBtn {
  font-weight: 700;
  margin-bottom: 5em;
}

.twitterJoinBtn:hover {
  background-color: twitterDarkerBlue;
}

.twitterLoginBtn {
  border: 1px solid twitterGrey;
}

.twitterLoginBtn:hover {
  background-color: twiiterDeepDarkerBlue;
}

.ask {
  display: block;
  margin-bottom: 1em;
  font-size: 1.2rem;
  font-weight: 700;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-wrap: wrap;
  }
  .img {
    order: 1;
    flex-basis: 100%;
    min-height: 24rem;
  }

  .loginContainer {
    order: 0;
    flex-basis: 100%;
  }
  .imgTwitterIcon {
    width: 12rem;
    height: 15rem;
  }
}
